.header {
	z-index: 990;
	min-width: 375px;
	width: 100%;
	background-color: var(--white-color);
	box-shadow: var(--shadow);

	&-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.link {
		display: flex;
		align-items: center;
	}

	&-topline,
	&-main {
		display: flex;
	}

	&-topline {
		background-color: var(--surface-darkgreen-color);

		.header-container {
			flex-wrap: nowrap;
		}
	}

	&-main {
		background-color: var(--white-color);

		.header-container {
			justify-content: space-between;
			align-items: center;
		}

		.icon {
			stroke: var(--black-color);
		}
	}

	&-menu,
	&-contacts,
	&-popular,
	&-actions {
		&,
		&__list {
			display: flex;
		}
	}

	&-menu,
	&-contacts {
		color: var(--white-color);

		.link {
			line-height: 16px;
			white-space: nowrap;
		}
	}

	&-contacts {
		flex-direction: row-reverse;
		align-items: center;
		background-color: var(--surface-darkgreen-color);

		&__msg {
			display: flex;
		}
		&__list {
			z-index: 1;
			position: absolute;
			top: calc(100% + 12px);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 16px;
			opacity: 0;
			border-radius: 12px;
			box-shadow: var(--shadow-2);
			background-color: var(--white-color);
			color: var(--black-color);
			pointer-events: none;
			user-select: none;
			transition: var(--transition);

			&::before {
				content: "";
				position: absolute;
				top: -8px;
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				transform: rotate(45deg);
				background-color: var(--white-color);
			}
			&.active {
				opacity: 1;
				pointer-events: auto;
				user-select: auto;
			}
			&-container {
				position: relative;
			}
			&-spoiler {
				border-color: var(--white-color);
				color: var(--white-color);

				.icon {
					stroke: var(--white-color);
				}

				&:hover {
					background-color: var(--white-color);
					color: var(--black-color);

					.icon {
						stroke: var(--black-color);
					}
				}
			}
			li {
				padding-top: 4px;
				padding-bottom: 4px;
			}
			.link {
				gap: 8px;
			}
			.icon {
				stroke: var(--black-color);
			}
		}
	}

	&-popular {
		&__heading {
			color: var(--surface-darkgreen-color);
			font-weight: 500;
		}
	}

	&-actions {
		flex-direction: row-reverse;
		justify-content: space-between;

		&__list {
			align-items: center;
		}
	}
}

.burger {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	.icon {
		pointer-events: none;
	}

	&:not(.active) {
		.icon {
			&-selected {
				display: none;
			}
		}
	}
	&.active {
		.icon {
			&-default {
				display: none;
			}
		}
	}
}

.mobile-menu {
	z-index: -1;
	position: fixed;
	top: 104px;
	right: 0;
	left: 0;
	min-height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	background-color: var(--white-color);

	&.active {
		z-index: 2000;
		display: flex;
		min-height: calc(100% - 105px);
		height: calc(100% - 105px);
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	&-container {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		width: 100%;
		min-height: 100%;
		height: 100%;
		padding-top: 12px;
		padding-bottom: 32px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__item {
		padding-right: 16px;
		padding-left: 16px;
	}

	&-list {
		flex: 1;

		li {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		& .mobile-menu__item {
			padding-bottom: 12px;
		}
	}
}
@media (min-width: 992px) {
	.header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;

		&-main {
			padding-top: 20px;
			padding-bottom: 16px;
		}
		&-menu,
		&-contacts {
			flex: 1;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 14px;
		}
		&-menu {
			&:not(:last-child) {
				padding-right: 16px;
			}

			&__list {
				align-items: center;
				gap: 24px;

				.link {
					min-height: 40px;
					height: 40px;
				}
			}
		}
		&-contacts {
			gap: 32px;

			&:not(:first-child) {
				padding-left: 16px;
			}

			&__list {
				gap: 12px;
				right: 0;

				&::before {
					right: 16px;
				}
				&-spoiler {
					min-height: 36px;
					height: 36px;
					border-radius: 10px;
				}
			}
			&__msg {
				min-width: 32px;
				width: 32px;

				.icon,
				.image {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
				}
			}
		}

		&-popular {
			&__heading {
				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
				}
			}

			.dropdown-container {
				position: relative;
			}
			.dropdown-spoiler {
				&.active {
					.icon {
						transform: scale(-1);
					}
				}
			}
			.dropdown-menu {
				position: absolute;
				opacity: 0;
				pointer-events: none;
				user-select: none;
				transition: var(--transition);

				&.active {
					opacity: 1;
					pointer-events: auto;
					user-select: auto;
				}
			}

			&__dropdown {
				min-width: 340px;
				width: 340px;
				padding: 16px 16px 8px;
				transform: translate(-16px, 16px);
				background-color: var(--surface-darkgreen-color);
				color: var(--white-color);
				font-weight: 500;

				&::before,
				&::after {
					content: "";
					position: absolute;
				}
				&::before {
					top: -8px;
					left: 16px;
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
					transform: rotate(45deg);
					background-color: var(--surface-darkgreen-color);
				}
				&::after {
					top: -16px;
					right: 0;
					left: 0;
					min-height: 16px;
					height: 16px;
				}

				.icon {
					transform: rotate(-90deg);
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
					stroke: var(--white-color);
				}

				li {
					display: flex;
				}

				.all-section {
					&:not(:first-child) {
						margin-top: 16px;
						font-weight: 600;
					}
				}

				.link {
					display: flex;
					align-items: center;
					padding-top: 6px;
					padding-bottom: 6px;

					&:hover {
						text-decoration: underline;
						text-underline-offset: 3px;
					}
				}
			}
		}

		&-actions {
			&__list {
				gap: 16px;

				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
				}
			}
		}

		&-mobile-menu {
			display: none;
		}
	}

	.mobile-menu {
		display: none;
	}
}
@media (min-width: 1200px) {
	.header {
		&-main {
			.header-container {
				gap: 32px;
			}
		}

		&-popular {
			&__list {
				gap: 24px;

				.dropdown-container {
					&:nth-child(n+3) {
						.dropdown-menu {
							right: 0;
							transform: translate(16px, 16px);

							&::before {
								left: unset;
								right: 16px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.header {
		&-topline {
			.header-menu {
				display: none;
			}
		}
		&-main {
			padding-top: 10px;
			padding-bottom: 10px;

			.header-container {
				gap: 20px;
			}
		}

		&-contacts {
			flex: 1;
			justify-content: space-between;
			gap: 16px;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 14px;

			&__list {
				gap: 16px;
				left: 0;

				&::before {
					left: 16px;
				}
				&-spoiler {
					min-height: 32px;
					height: 32px;
					border-radius: 8px;
				}
				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
			}
			&__msg {
				min-width: 24px;
				width: 24px;

				.icon,
				.image {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
				}
			}
		}

		&-popular {
			display: none;
		}

		&-actions {
			gap: 20px;

			&__list {
				gap: 8px;

				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
				}

				.header-profile {
					display: none;
				}
			}
		}

		&-mobile-menu {
			display: flex;
		}
	}

	.burger {
		.icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
	}

	.mobile-menu {
		font-size: 16px;

		.header {
			&-menu {
				color: var(--black-color);

				.icon {
					stroke: var(--black-color);
				}

				&__list {
					flex-direction: column;
				}
			}

			&-profile {
				.link {
					display: flex;
					align-items: center;
					gap: 8px;
				}

				span {
					font-weight: 500;
				}
			}
		}

		&-list {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.header {
		&-main {
			.header-container {
				gap: 20px;
			}
		}

		&-popular {
			&__list {
				gap: 16px;

				.dropdown-container {
					&:nth-child(n+3) {
						.dropdown-menu {
							right: 0;
							transform: translate(16px, 16px);

							&::before {
								left: unset;
								right: 16px;
							}
						}
					}
				}
			}
		}
	}
}