* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	line-height: 1.5;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family-gilroy);
	background-color: var(--white-color);
	color: var(--black-color);
}
@media (min-width: 992px) {
	html,
	body {
		font-size: 16px;
	}
}
@media (max-width: 991.98px) {
	html,
	body {
		font-size: 14px;
	}
}

.flex {
	display: flex;

	&-v-center {
		display: flex;
		align-items: center;
	}
	&-h-center {
		display: flex;
		justify-content: center;
	}
	&-h-end {
		display: flex;
		justify-content: flex-end;
	}
	&-all-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-all-sb {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.flex-1 {
	flex: 1;
}
.flex-0-1-100 {
	flex: 0 1 100%;
}

.w-100 {
	min-width: 100%!important;
	width: 100%!important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--black-color);
	line-height: 1.3;
}
h1, .h1, h2, .h2 {
	font-weight: 600;
}
h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 500;
}
@media (min-width: 992px) {
	h1, .h1 {
		font-size: 36px;
	}
	h2, .h2 {
		font-size: 32px;
	}
	h3, .h3 {
		font-size: 24px;
	}
}
@media (max-width: 991.98px) {
	h1, .h1 {
		font-size: 24px;
	}
	h2, .h2 {
		font-size: 20px;
	}
	h3, .h3 {
		font-size: 18px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
}

picture,
img {
	max-width: 100%;
	object-fit: cover;
	overflow: hidden;
	user-select: none;
}
svg {
	max-width: 100%;
	max-height: 100%;
}
.icon {
	min-width: 16px;
	width: 16px;
	min-height: 16px;
	height: 16px;
	user-select: none;
	transition: var(--transition);

	stroke: var(--black-color);

	&-xs {
		min-width: 16px!important;
		width: 16px!important;
		min-height: 16px!important;
		height: 16px!important;
	}
	&-sm {
		min-width: 20px!important;
		width: 20px!important;
		min-height: 20px!important;
		height: 20px!important;
	}
	&-md {
		min-width: 24px!important;
		width: 24px!important;
		min-height: 24px!important;
		height: 24px!important;
	}
	&-lg {
		min-width: 30px!important;
		width: 30px!important;
		min-height: 30px!important;
		height: 30px!important;
	}
	&-xl {
		min-width: 32px!important;
		width: 32px!important;
		min-height: 32px!important;
		height: 32px!important;
	}
	&-xxl {
		min-width: 64px!important;
		width: 64px!important;
		min-height: 64px!important;
		height: 64px!important;
	}

	&-fill {
		stroke: none!important;
	}
	&-stroke {
		fill: none!important;
	}
}

picture {
	display: flex;
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}
@media (min-width: 992px) {
	p {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 991.98px) {
	p {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

body:not(.is-using-mouse) {
	.fancybox {
		&__container {
			.carousel__button:focus {
				box-shadow: none;
			}
		}
	}
}
.fancybox {
	&__html5video {
		outline: none;
	}
}

.logo {
	display: flex;
	align-items: center;

	.image {
		object-fit: contain;
	}
}
@media (min-width: 1200px) {
	.logo {
		.image {
			min-width: 310px;
			width: 310px;
			min-height: 62px;
			height: 62px;
		}
	}
}
@media (max-width: 991.98px) {
	.logo {
		.image {
			min-width: 175px;
			width: 175px;
			min-height: 36px;
			height: 36px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.logo {
		.image {
			min-width: 200px;
			width: 200px;
			min-height: 40px;
			height: 40px;
		}
	}
}

.dis-scroll {
	overflow: hidden;
	overscroll-behavior: none;
}

.overflow-hidden {
	overflow: hidden !important;
}

.is-hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	clip: rect(0 0 0 0) !important;
}

.pre-hidden {
	animation: pre-hidden 1s;
}
@keyframes pre-hidden {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.overlay,
.overlay-transparent {
	z-index: 2000;
	position: fixed;
	cursor: pointer;

	&::before {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.overlay {
	&::before {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.overlay-transparent {
	&::before {
		background-color: transparent;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.fw-normal {
	font-weight: 400;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
@media (min-width: 992px) {
	.text-bigger {
		font-size: 18px;
	}
}

.gray-bg {
	background-color: var(--surface-lightgray-color);
}

.height-auto {
	height: auto!important;
}

.no-line-break {
	white-space: nowrap!important;
}

.grayscale {
	filter: grayscale(1);
}
@media (min-width: 992px) {
	.grayscale {
		&,
		&-desktop {
			filter: grayscale(1);
		}
	}
}
@media (max-width: 991.98px) {
	.grayscale {
		&,
		&-mobile {
			filter: grayscale(1);
		}
	}
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}
.btn-g {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px 12px;
}
@media (max-width: 991.98px) {
	.btn-g {
		&--mobile-full {
			.btn {
				min-width: 100%;
				width: 100%;
			}
		}
	}
}
.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	min-height: 40px;
	height: 40px;
	padding: 0 16px;
	border: 1px solid transparent;
	border-radius: 12px;
	background-color: transparent;
	color: var(--black-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
	transition: var(--transition);

	&__text,
	&__icon {
		pointer-events: none;
		user-select: none;
	}
	&__text {
		white-space: nowrap;
	}
	&__icon {
		stroke: var(--black-color);
	}

	&.disabled,
	&:disabled {
		opacity: 0.5 !important;
		cursor: not-allowed !important;
	}

	&-primary {
		border-color: var(--black-color);
		color: var(--black-color);

		.btn__icon {
			stroke: var(--black-color);
		}

		&:hover,
		&:active,
		&.active {
			border-color: var(--surface-darkgreen-color);
			background-color: var(--surface-darkgreen-color);
			color: var(--white-color);
			font-weight: 500;

			.btn__icon {
				stroke: var(--white-color);
			}
		}
	}
	&-secondary {
		border-color: var(--surface-darkgreen-color);
		background-color: var(--surface-darkgreen-color);
		color: var(--white-color);

		.btn__icon {
			stroke: var(--white-color);
		}

		&:hover,
		&:active,
		&.active {
			opacity: 0.85;
		}
	}

	&-link {
		border: none;

		&,
		&.btn {
			min-height: 0;
			height: auto;
			padding: 0;
			line-height: 1;
		}
		&:hover,
		&:active,
		&.active {
			opacity: 0.85;
		}
	}
}

.link {
	color: inherit;

	&-tdu {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	&-red {
		color: var(--error-color);
	}

	&:hover {
		opacity: 0.85;
	}
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hr {
	position: relative;
	min-width: 100%;
	width: 100%;
	min-height: 1px;
	height: 1px;

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 2px;
		background-color: var(--error-color);
	}
}

.input-reset {
	padding: 0;
	overflow: hidden;
	border: none;
	border-radius: 0;
	background-color: #fff;
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}
input:disabled,
input.disabled {
	cursor: not-allowed;
}

@media (min-width: 992px) {
	.gap {
		&-xxs {
			margin-bottom: 8px !important;
		}
		&-xs {
			margin-bottom: 12px !important;
		}
		&-sm {
			margin-bottom: 16px !important;
		}
		&-md {
			margin-bottom: 24px !important;
		}
		&-lg {
			margin-bottom: 32px !important;
		}
		&-xl {
			margin-bottom: 48px !important;
		}

		&--mobile-only {
			margin-bottom: unset !important;
		}
	}

	.mobile-only {
		display: none !important;
	}
}
@media (max-width: 991.98px) {
	.gap {
		&-xxs {
			margin-bottom: 8px !important;
		}
		&-xs,
		&-sm {
			margin-bottom: 12px !important;
		}
		&-md {
			margin-bottom: 16px !important;
		}
		&-lg {
			margin-bottom: 24px !important;
		}
		&-xl {
			margin-bottom: 32px !important;
		}

		&--desktop-only {
			margin-bottom: unset !important;
		}
	}

	.desktop-only {
		display: none !important;
	}

	.slider-out {
		min-width: 100vw;
		max-width: 100vw;
		margin-right: calc(var(--container-offset) * -1);
		margin-left: calc(var(--container-offset) * -1);
	}
}

.block {
	&-border-y,
	&-border-top {
		border-top: 1px solid var(--text-secondary-color);
	}
	&-border-y,
	&-border-bottom {
		border-bottom: 1px solid var(--text-secondary-color);
	}
}
@media (min-width: 992px) {
	.block {
		padding-top: 48px;
		padding-bottom: 48px;

		&-top {
			padding-top: 48px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 48px;
		}

		&-sm {
			padding-top: 16px;
			padding-bottom: 16px;

			&.block-top {
				padding-top: 16px;
				padding-bottom: unset;
			}
			&.block-bottom {
				padding-top: unset;
				padding-bottom: 16px;
			}
		}

		&--mobile {
			&,
			.block-top,
			.block-bottom {
				padding-top: unset;
				padding-bottom: unset;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.block {
		padding-top: 24px;
		padding-bottom: 24px;

		&-top {
			padding-top: 24px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 24px;
		}

		&-sm {
			padding-top: 12px;
			padding-bottom: 12px;

			&.block-top {
				padding-top: 12px;
				padding-bottom: unset;
			}
			&.block-bottom {
				padding-top: unset;
				padding-bottom: 12px;
			}
		}

		&--desktop {
			&,
			.block-top,
			.block-bottom {
				padding-top: unset;
				padding-bottom: unset;
			}
		}
	}
}

[data-removable] {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

[data-delete-trigger] {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.icon {
		pointer-events: none;
		stroke: var(--error-color);
	}
}

.nav-breadcrumbs {
	&-wrap {
		position: relative;
	}
	.swiper-slide {
		width: auto;
		line-height: 1;

		span {
			position: relative;
			color: var(--text-secondary-color);
			font-size: 12px;
			line-height: 16px;

			&:hover {
				text-decoration: underline;
			}
		}
		&:not(:first-child) span {
			padding-left: 14px;

			&::before {
				content: "-";
				position: absolute;
				top: 50%;
				left: 4px;
				transform: translateY(-50%);
			}
		}
		&:last-child span {
			color: var(--black-color);
			pointer-events: none;
			user-select: none;
		}
	}
}
@media (max-width: 991.98px) {
	.nav-breadcrumbs {
		padding-right: 16px;
		padding-left: 16px;

		&-wrap {
			margin-right: -16px;
			margin-left: -16px;
		}
	}
}

.custom-checkbox,
.custom-radio {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	cursor: pointer;

	&__input {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 16px;
		width: 16px;
		min-height: 16px;
		height: 16px;
		margin: 0;
		border: 1px solid var(--black-color);
		background-color: transparent;
		appearance: none;
		transition: var(--transition);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: var(--transition);
		}
		&:not(:checked) {
			&:hover {
				border-color: var(--black-color);
			}
		}
		&:checked,
		&.checked {
			&,
			&:hover {
				border-color: var(--black-color);
			}
			&::before {
				opacity: 1;
			}
		}
		&:not(:disabled),
		&:not(.disabled) {
			cursor: pointer;

			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--black-color);
			}
		}
		&:disabled,
		&.disabled {
			opacity: 0.5;
			cursor: default;

			&,
			&:hover {
				border-color: var(--black-color);
				background-color: transparent;
			}
			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--black-color);
				user-select: none;
			}
		}
	}
	&:not(:last-child) {
		margin: 0 12px 0 0;
	}
	&__label-for {
		font-size: 14px;
		line-height: 16px;
		cursor: pointer;
		transition: var(--transition);

		.link {
			color: inherit;
		}
	}
}
.custom-checkbox {
	&__input {
		border-radius: 6px;
	}
	&__input::before {
		min-width: 10px;
		width: 10px;
		min-height: 10px;
		height: 10px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwLjUwNjggNS40NDcxM0MyMC44MTIxIDUuNzI3MDMgMjAuODMyOCA2LjIwMTQ1IDIwLjU1MjkgNi41MDY3OUw5LjU1Mjg3IDE4LjUwNjhDOS40MTQ2NCAxOC42NTc2IDkuMjIwODEgMTguNzQ1NCA5LjAxNjI5IDE4Ljc0OThDOC44MTE3OCAxOC43NTQzIDguNjE0MzIgMTguNjc1IDguNDY5NjcgMTguNTMwM0wzLjQ2OTY3IDEzLjUzMDNDMy4xNzY3OCAxMy4yMzc0IDMuMTc2NzggMTIuNzYyNiAzLjQ2OTY3IDEyLjQ2OTdDMy43NjI1NiAxMi4xNzY4IDQuMjM3NDQgMTIuMTc2OCA0LjUzMDMzIDEyLjQ2OTdMOC45NzY0NCAxNi45MTU4TDE5LjQ0NzEgNS40OTMyMUMxOS43MjcgNS4xODc4NyAyMC4yMDE1IDUuMTY3MjQgMjAuNTA2OCA1LjQ0NzEzWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==");
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IiNFOEVBRUIiLz4KPC9zdmc+Cg==");
	}

	&--agree {
		.custom-checkbox__label-for {
			font-size: 13px;
		}
	}
}
.custom-radio {
	&__input {
		border-radius: 50%;
	}
	&__input::before {
		min-width: 8px;
		width: 8px;
		min-height: 8px;
		height: 8px;
		border-radius: 50%;
		background-image: none;
		background-color: var(--black-color);
	}
}

.titled-input {
	display: flex;
	flex-direction: column;

	&:not(.titled-input-label) {
		gap: 16px;
	}
	&-label {
		gap: 6px;
	}
}
.input {
	min-width: 100%;
	padding: 11px 15px;
	border: 1px solid var(--black-color);
	border-radius: 12px;
	background: transparent;
	color: var(--black-color);
	font-size: 14px;
	line-height: 24px;

	&::placeholder {
		color: var(--black-color);
	}
	&-title {
		font-size: 14px;
	}

	&:focus {
		box-shadow: var(--shadow-2);
		border-color: var(--black-color);
	}
}
.input-wrapper {
	position: relative;
	min-width: 100%;
}
.input-wrapper {
	&.has-icon-l,
	&.has-icon-r {
		&::before,
		&::after {
			z-index: 1;
			position: absolute;
			top: 50%;
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
			margin-top: -8px;
			background: url("../img/sprite.svg#search") no-repeat center/cover transparent;
			transition: var(--transition);
		}
		&::before {
			left: 15px;
		}
		&::after {
			right: 15px;
		}
	}
	&.has-icon-l {
		&::before {
			content: "";
		}
		.input {
			padding-left: 43px;
		}
	}
	&.has-icon-r {
		&::after {
			content: "";
		}
		.input {
			padding-right: 43px;
		}
	}
}
.input-search-wrapper {
	.input-search-field {
		position: relative;
	}
	.input-search {
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 11px;
		font-size: 14px;

		&-btn {
			transition: unset;
		}
		&:not(.has-data) {
			& ~ .input-delete-btn {
				opacity: 0;
				pointer-events: none;
				user-select: none;
			}
		}
		&.has-data {
			& ~ .input-search-btn {
				opacity: 0;
				pointer-events: none;
				user-select: none;
			}
		}
	}
	.input-delete-btn,
	.input-search-btn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
	}
	.input-delete-btn {
		&.btn {
			background-color: transparent;

			.icon {
				stroke: var(--black-color);
			}
		}
	}

}

.textarea {
	min-width: 100%;
	min-height: 82px;
	padding: 12px 16px;
	border: 1px solid var(--error-color);
	border-radius: 12px;
	resize: none;
	background: var(--white-color);
	color: var(--error-color);

	&::placeholder {
		color: var(--error-color);
	}
	&:focus {
		border-color: var(--error-color);
	}
}
@media (min-width: 992px) {
	.input-search-wrapper {
		&:not(.input-search-wrapper-btn-outside) {
			.input-search {
				padding-right: 50px;
			}
		}
	}
}

.tooltip {
	display: inline-flex;
	align-self: flex-end;
	vertical-align: bottom;
	cursor: pointer;
}
.tippy {
	&-box {
		border-radius: 4px;
		box-shadow: var(--shadow);
		background: #333;
		font-size: 14px;
	}
	&-content {
		padding: 8px 12px;
	}
}

.pagination-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination {
	display: flex;
	align-items: center;
	gap: 8px;

	&__item {
		&:first-child {
			.icon {
				transform: rotate(90deg);
			}
		}
		&:last-child {
			.icon {
				transform: rotate(-90deg);
			}
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		border: 1px solid var(--surface-lightgray-color);
		border-radius: 12px;
		background-color: var(--surface-lightgray-color);
		color: var(--black-color);
		font-weight: 400;
		font-size: 14px;
		cursor: pointer;

		.icon {
			stroke: var(--black-color);
		}

		&:hover,
		&.active {
			background-color: var(--surface-darkgreen-color);
			color: var(--white-color);

			.icon {
				stroke: var(--white-color);
			}
		}
	}
}
@media (min-width: 992px) {
	.pagination-wrapper {
		gap: 32px;
	}
}
@media (max-width: 991.98px) {
	.pagination-wrapper {
		gap: 16px;
	}
	.pagination {
		&__item {
			&:nth-child(n+7):not(:last-child) {
				display: none;
			}
		}
	}
}

.basic-banner,
.content-banner {
	position: relative;
	min-width: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
@media (min-width: 1312px) {
	.basic-banner {
		min-height: calc(1280px * 0.25);
		height: calc(1280px * 0.25);
	}

	.content-banner {
		min-height: 440px;
		height: 440px;
	}
}
@media (max-width: 575.98px) {
	.basic-banner,
	.content-banner {
		min-height: calc((100vw - 32px) * 0.5625);
		height: calc((100vw - 32px) * 0.5625);
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.basic-banner {
		min-height: calc((100vw - 32px) * 0.35);
		height: calc((100vw - 32px) * 0.35);
	}
}
@media (min-width: 576px) and (max-width: 1311.98px) {
	.content-banner {
		min-height: calc((100vw - 32px) * 0.35);
		height: calc((100vw - 32px) * 0.35);
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.basic-banner {
		min-height: calc((100vw - 32px) * 0.25);
		height: calc((100vw - 32px) * 0.25);
	}
}

.content-grid {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.content-grid {
		&:not(.content-grid--info),
		&--product {
			gap: 24px 16px;
		}
		&--info {
			gap: 48px 16px;
		}
	}
}
@media (max-width: 991.98px) {
	.content-grid {
		&:not(.content-grid--info),
		&--product {
			gap: 20px 12px;
		}
		&--info {
			gap: 32px 12px;
		}
	}
}

.content-img,
.content-video {
	position: relative;
	display: flex;
}
.content-img {
	.image {
		min-width: 100%;
		width: 100%;
		aspect-ratio: 16 / 9;
	}
}
.content-video {
	iframe {
		min-width: 100%;
		width: 100%;
		aspect-ratio: 16 / 9;
	}
}
@media (min-width: 992px) {
	.content-img {
		&--desktop-narrow {
			.image {
				aspect-ratio: 4 / 3;
			}
		}
	}
}

.details {
	&-grid {
		display: flex;
	}
	&-view,
	&-descr {
		flex: 1;
		overflow: hidden;
	}
	&-descr {
		&--offset {
			padding-top: 16px;
		}
	}
	&-highlight {
		font-weight: 500;
	}
	&-caption {
		color: var(--text-secondary-color);
		font-size: 14px;
	}

	&-slider,
	&-thumb-slider {
		position: relative;

		&-wrapper {
			position: relative;
			overflow: hidden;
		}

		.swiper-slide {
			display: flex;

			&,
			.image {
				min-width: 100%;
				width: 100%;
			}
			.image {
				height: auto;
				aspect-ratio: 16 / 9;
			}
		}
	}
	&-thumb-slider {
		&-pointer {
			.swiper-slide {
				display: flex;

				&:not(.swiper-slide-thumb-active) {
					opacity: 0.4;
				}

				.image {
					min-width: 100%;
					width: 100%;
					height: auto;
					aspect-ratio: 1 / 1;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.details {
		&-grid {
			gap: 16px;
		}
		&-sidebar {
			min-width: 400px;
			width: 400px;
		}

		&-slider,
		&-thumb-slider {
			&-wrapper {
				.swiper-navigation {
					right: 24px;
					left: 24px;
				}
			}
		}
		&-thumb-slider {
			&:not(:last-child) {
				margin-bottom: 16px;
			}

			.swiper-slide {
				.image {
					aspect-ratio: 16 / 10;
				}
			}
		}
	}
}
@media (min-width: 1312px) {
	.details {
		&-grid {
			min-width: 1280px;
			width: 1280px;
		}

		&-sidebar {
			.card-info {
				min-width: 400px;
				width: 400px;

				.card__view {
					.image {
						min-width: 400px;
						width: 400px;
						min-height: 225px;
						height: 225px;
					}
				}
			}
		}

		&-thumb-slider {
			&-pointer {
				.swiper-slide {
					min-width: calc(((1280px - 16px) / 2 - 80px) / 6);
					width: calc(((1280px - 16px) / 2 - 80px) / 6);
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.details {
		&-grid {
			flex-direction: column;
			gap: 16px;
		}

		&-slider,
		&-thumb-slider {
			.swiper-navigation {
				.swiper-button-next,
				.swiper-button-prev {
					min-width: 72px;
					width: 72px;
					height: 100%;
					padding-right: 16px;
					padding-left: 16px;
				}
				.swiper-button-next {
					&:hover {
						animation: sbnclick 0.2s ease-out;
					}
				}
				.swiper-button-prev {
					&:hover {
						animation: sbpclick 0.2s ease-out;
					}
				}
				@keyframes sbnclick {
					from {
						background: transparent;
					}
					to {
						background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 35%, rgba(255,255,255,0.6) 100%);
					}
				}
				@keyframes sbpclick {
					from {
						background: transparent;
					}
					to {
						background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.25) 65%, rgba(255,255,255,0) 100%);
					}
				}
			}
		}
		&-thumb-slider {
			&-pointer {
				display: none;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.details {
		&-view,
		&-descr {
			overflow: visible;
		}

		&-slider,
		&-thumb-slider {
			min-width: 100vw;
			width: 100vw;
			padding: 0 16px;

			&-wrapper {
				margin: 0 -16px;
				overflow: visible;

				.swiper-navigation {
					display: none;
				}
			}

			.swiper-slide {
				min-width: 285px;
				width: 285px;
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.details {
		&-slider,
		&-thumb-slider {
			&-wrapper {
				.swiper-navigation {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					height: auto;
					margin-top: unset;
				}
				.swiper-button-next,
				.swiper-button-prev {
					padding-right: 16px;
					padding-left: 16px;
				}
			}

			.swiper-slide {
				min-width: calc(100vw - 32px);
				width: calc(100vw - 32px);
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.details {
		&-sidebar {
			.card-info {
				min-width: 400px;
				width: 400px;

				.card__view {
					.image {
						min-width: 400px;
						width: 400px;
						min-height: 225px;
						height: 225px;
					}
				}
			}
		}

		&-thumb-slider {
			&-pointer {
				.swiper-slide {
					min-width: calc(((100vw - 32px - 16px) / 2 - 80px) / 6);
					width: calc(((100vw - 32px - 16px) / 2 - 80px) / 6);
				}
			}
		}
	}
}

.swiper-pagination {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet {
		min-width: 8px;
		width: 8px;
		min-height: 8px;
		height: 8px;
		margin: 0 4px;
		opacity: 1;
		border: 1px solid var(--surface-darkgreen-color);
		border-radius: 50%;
		background: var(--white-color);
		transition: 0.2s linear;
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 4px;
	}
	.swiper-pagination-bullet-active {
		background: var(--surface-darkgreen-color);
	}
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 0;
}

.swiper-navigation {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin-top: calc((40px / 2) * -1);

	&-button {
		display: flex;
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 0;
		width: 40px;
		height: 40px;
		margin-top: unset;
		color: var(--black-color);

		&::after {
			content: none;
		}
		.icon {
			stroke: var(--black-color);
		}

		&.swiper-button-disabled {
			opacity: 1;
		}

		&:hover {
			.swiper-button-design {
				border-color: var(--text-secondary-color);
				background: var(--text-secondary-color);
			}

			.icon {
				stroke: var(--white-color);
			}
		}
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 0;
		right: auto;

		.icon {
			transform: rotate(90deg);
		}
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 0;
		left: auto;

		.icon {
			transform: rotate(-90deg);
		}
	}
	.swiper-button-design {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		margin-top: unset;
		border: 1px solid var(--surface-lightgray-color);
		border-radius: 12px;
		background: var(--surface-lightgray-color);
		color: var(--black-color);
		transition: var(--transition);
	}
}

.basic-slider-wrap {
	position: relative;
}
.basic-slider {
	z-index: 10;
	overflow: hidden;

	.swiper-slide {
		width: auto;
		background-color: var(--white-color);
	}

	.card-list {
		&--desktop,
		&--mobile {
			.swiper-slide {
				display: flex;
				height: auto;
			}
		}
	}
}
@media (min-width: 992px) {
	.basic-slider {
		&-wrap {
			&-pagination {
				padding-bottom: 32px;
			}
		}

		&--shadow {
			margin: -8px -16px -24px;
			padding: 8px 16px 24px;
		}
		&--dropout {
			margin: -8px -16px -200px;
			padding: 8px 16px 200px;
		}
		&--cp-preview {
			.card-product {
				&:hover {
					box-shadow: var(--shadow-2);

					.card__view,
					.card__descr {
						box-shadow: none;
					}
					.card__properties,
					.card__to-cart {
						display: none;
					}
				}
			}
		}

		&-desktop {
			& ~ .swiper-navigation {
				right: -16px;
				left: -16px;
			}
		}
		&-mobile {
			& ~ .swiper-navigation {
				display: none;
			}
		}

		.card-list {
			&--desktop {
				&.swiper-wrapper {
					height: auto!important;
					width: 100%;
					transform: unset!important;
				}
				.swiper-slide {
					margin-right: unset!important;
				}
			}
		}
	}
}
@media (min-width: 1312px) {
	.basic-slider {
		&.product-slider {
			& ~ .swiper-navigation {
				top: calc((((1280px - 48px) / 4) + 129px) / 2);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.basic-slider {
		&-wrap {
			&-pagination {
				padding-bottom: 16px;
			}
		}

		&-desktop {
			& ~ .swiper-navigation {
				display: none;
			}
		}
		&-mobile {
			& ~ .swiper-navigation {
				right: -16px;
				left: -16px;
			}
		}

		.card-list {
			&--mobile {
				&.swiper-wrapper {
					height: auto!important;
					width: 100%;
					transform: unset!important;
				}
				.swiper-slide {
					margin-right: unset!important;
				}
			}
		}
	}

	.slider-out {
		.basic-slider {
			padding-right: 16px;
			padding-left: 16px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.basic-slider {
		&.product-slider {
			& ~ .swiper-navigation {
				top: calc((((100vw - 64px) / 3) + 129px) / 2);
			}
		}
	}
}

.form {
	min-width: 100%;

	.field-wrapper {
		position: relative;
		display: inline-flex;
		width: 100%;
		height: 100%;
	}
	.btn {
		min-height: 48px;
		height: 48px;
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
	transition: var(--transition);

	&:not(a) {
		cursor: default;
	}
	&__view {
		position: relative;
		overflow: hidden;
	}
	&__view {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		transition: var(--transition);

		.image,
		.icon {
			min-width: 100%;
			width: 100%;
			transition: var(--transition);
		}
	}
	&__sale-label {
		z-index: 5;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		pointer-events: none;
	}
	&__descr {
		display: flex;
		flex: 1;
		flex-direction: column;
		transition: var(--transition);
	}
	&__title {
		font-weight: 500;
	}
	&__caption {
		color: var(--text-secondary-color);
	}
	&__to-cart {
		.btn {
			min-width: 100%;
			width: 100%;
		}
	}

	&-product {
		border-radius: 0 0 16px 16px;

		.card__view {
			.image {
				object-fit: contain;
			}
		}
		.card__descr {
			border-top: 1px solid var(--text-secondary-color);
			background-color: var(--white-color);
		}
		.card__caption {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
		.card__title {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		.card__title {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.card__properties,
		.card__to-cart {
			max-height: 0;
			opacity: 0;
		}
		.card__properties {
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			overflow: hidden;

			&-row {
				line-height: 24px;
			}
			span {
				&:not(.value) {
					color: var(--text-secondary-color);
				}
			}
		}

		&:hover {
			.card__title {
				text-decoration: underline;
			}
			.card__properties {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
			.card__to-cart {
				&:last-child {
					margin-top: 16px;
				}
			}
		}
	}

	&-info {
		.caption-panel {
			background-color: var(--surface-lightgray-color);
			color: var(--black-color);

			.card__title {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		.card__descr {
			position: absolute;
			right: 0;
			bottom: 0;
		}
		.card__title {
			flex: 1;
			font-size: 14px;
		}
		.card__caption {
			font-weight: 500;
		}
	}

	&:hover,
	&:focus {
		z-index: 9;
	}
}
.card-list {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.card {
		&-product {
			padding-bottom: 130px;

			.card__descr {
				position: absolute;
				right: 0;
				left: 0;
				padding: 8px 16px 16px;
				border-radius: 0 0 16px 16px;
			}
			.card__title {
				min-height: 48px;
				height: 48px;
				font-size: 16px;
			}
			.card__caption,
			.card__properties{
				font-size: 14px;
			}

			&:hover {
				.card__view,
				.card__descr {
					box-shadow: var(--shadow-2);
				}

				.card__properties,
				.card__to-cart {
					max-height: unset;
					opacity: 1;
				}
			}
		}

		&-info {
			padding-bottom: 48px;

			.caption-panel {
				gap: 24px;
				min-width: 310px;
				width: 310px;
				min-height: 120px;
			}
		}
	}
	.card-list {
		gap: 24px 16px;

		&--mobile {
			flex-wrap: unset;
			gap: unset;
		}
	}
}
@media (min-width: 1312px) {
	.card {
		&-product {
			min-width: calc((1280px - 48px) / 4);
			width: calc((1280px - 48px) / 4);

			.card__descr {
				top: calc((1280px - 48px) / 4);
			}
			.card__view {
				.image,
				.icon {
					min-height: calc((1280px - 48px) / 4);
					height: calc((1280px - 48px) / 4);
				}
			}
			.card__sale-label {
				min-height: calc((1280px - 48px) / 4);
				height: calc((1280px - 48px) / 4);
			}
		}

		&-info {
			min-width: calc((1280px - 32px) / 3);
			width: calc((1280px - 32px) / 3);

			.card__view {
				.image,
				.icon {
					min-height: calc(((1280px - 32px) / 3) * 0.5625);
					height: calc(((1280px - 32px) / 3) * 0.5625);
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.card {
		&-product {
			.card__descr {
				padding-top: 8px;
			}
			.card__title {
				font-size: 14px;
			}
			.card__caption {
				font-size: 13px;
			}
			.card__properties,
			.card__to-cart {
				display: none;
			}
		}

		&-info {
			padding-bottom: 32px;

			.caption-panel {
				gap: 12px;
				min-width: 200px;
				width: 200px;
				min-height: 100px;
			}
			.card__view {
				.image,
				.icon {
					min-height: calc(285px * 0.5625);
					height: calc(285px * 0.5625);
				}
			}
		}
	}
	.card-list {
		gap: 20px 12px;

		&--desktop {
			flex-wrap: unset;
			gap: unset;
		}
	}
}
@media (max-width: 575.98px) {
	.card {
		&-product {
			min-width: calc(100vw - 32px);
			width: calc(100vw - 32px);

			.card__view {
				.image {
					min-height: calc(100vw - 32px);
					height: calc(100vw - 32px);
				}
			}
		}
		&-info {
			min-width: calc(100vw - 32px);
			width: calc(100vw - 32px);

			.card__view {
				.image {
					min-height: calc((100vw - 32px) * 0.5625);
					height: calc((100vw - 32px) * 0.5625);
				}
			}
		}
	}

	.basic-slider {
		.swiper-wrapper {
			&:not(.card-list--mobile) {
				.card-product {
					min-width: 285px;
					width: 285px;

					.card__view {
						.image {
							min-height: 285px;
							height: 285px;
						}
					}
				}
				.card-info {
					min-width: 285px;
					width: 285px;

					.card__view {
						.image {
							min-height: calc(285px * 0.5625);
							height: calc(285px * 0.5625);
						}
					}
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.card {
		&-product {
			min-width: calc((100vw - 44px) / 2);
			width: calc((100vw - 44px) / 2);

			.card__view {
				.image {
					min-height: calc((100vw - 44px) / 2);
					height: calc((100vw - 44px) / 2);
				}
			}
		}
		&-info {
			min-width: calc((100vw - 44px) / 2);
			width: calc((100vw - 44px) / 2);

			.card__view {
				.image {
					min-height: calc(((100vw - 44px) / 2) * 0.5625);
					height: calc(((100vw - 44px) / 2) * 0.5625);
				}
			}
		}
	}

	.basic-slider {
		.swiper-wrapper {
			&:not(.card-list--mobile) {
				.card-product {
					min-width: 285px;
					width: 285px;

					.card__view {
						.image {
							min-height: 285px;
							height: 285px;
						}
					}
				}
				.card-info {
					min-width: 285px;
					width: 285px;

					.card__view {
						.image {
							min-height: calc(285px * 0.5625);
							height: calc(285px * 0.5625);
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.card {
		&-product {
			min-width: calc((100vw - 64px) / 3);
			width: calc((100vw - 64px) / 3);

			.card__descr {
				top: calc((100vw - 64px) / 3);
			}
			.card__view {
				.image,
				.icon {
					min-height: calc((100vw - 64px) / 3);
					height: calc((100vw - 64px) / 3);
				}
			}
			.card__sale-label {
				min-height: calc((100vw - 64px) / 3);
				height: calc((100vw - 64px) / 3);
			}
		}

		&-info {
			min-width: calc((100vw - 48px) / 2);
			width: calc((100vw - 48px) / 2);

			.card__view {
				.image,
				.icon {
					min-height: calc(((100vw - 48px) / 2) * 0.5625);
					height: calc(((100vw - 48px) / 2) * 0.5625);
				}
			}
		}
	}
}

.sale-label {
	min-height: 20px;
	height: 20px;
	padding: 4px 8px;
	font-size: 11px;
	line-height: 12px;

	&-red {
		background-color: var(--error-color);
		color: var(--white-color);
	}
	&-green {
		background-color: var(--green-color);
		color: var(--white-color);
	}
}

.more-link {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	.btn {
		min-height: 48px;
		height: 48px;
	}
}
@media (min-width: 992px) {
	.more-link {
		font-size: 14px;
	}
}
@media (max-width: 991.98px) {
	.more-link {
		font-size: 12px;
	}
}

.back-link {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 16px;
	color: var(--error-color);
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: pointer;
	transition: var(--transition);

	.decor {
		position: relative;
		min-height: 12px;
		height: 12px;

		&,
		span {
			min-width: 26px;
			width: 26px;
		}
		span {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			min-height: 2px;
			height: 2px;
			border-radius: 2px;
			background-color: var(--error-color);
			transition: var(--transition);

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				min-width: 8px;
				width: 8px;
				min-height: 2px;
				height: 2px;
				border-radius: 2px;
				background-color: var(--error-color);
			}
			&::before {
				transform: translateY(-4px) rotate(-45deg);
			}
			&::after {
				transform: translateY(2px) rotate(45deg);
			}
		}
	}
}

.social {
	&__title {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 8px;

		a {
			display: flex;
			border-radius: 4px;

			.icon {
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;
				stroke: var(--error-color);
			}

			&:hover {
				.icon {
					stroke: var(--error-color);
				}
			}
		}
		.social-vk {
			.icon {
				stroke: #0277FF;
			}

			&:hover {
				.icon {
					stroke: rgba(2, 119, 255, 0.8);
				}
			}
		}
		.social-ok {
			.icon {
				stroke: #F7931E;
			}

			&:hover {
				.icon {
					stroke: rgba(247, 147, 30, 0.8);
				}
			}
		}
	}

	.ya-share2 {
		.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
			&:not(:last-child) {
				margin-right: 8px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		.ya-share2__item:not(.ya-share2__item_more):hover,
		.ya-share2__item.ya-share2__item_more > .ya-share2__link:hover,
		.ya-share2__item:not(.ya-share2__item_more):focus,
		.ya-share2__item.ya-share2__item_more > .ya-share2__link:focus {
			opacity: 0.5;
		}
		.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__badge,
		.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__mobile-popup-badge {
			background-color: var(--error-color);
		}
		.ya-share2__container_size_l .ya-share2__badge .ya-share2__icon {
			height: 40px;
			width: 40px;
			background-size: 40px 40px;
		}
	}
}

.video-wrapper {
	position: relative;
	display: inline-flex;

	&,
	.video-player {
		min-width: 100%;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.video-cover {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
		background-color: rgba(31, 29, 28, 0.3);
		transition: var(--transition);
		pointer-events: none;
		user-select: none;
	}
	.video-controls {
		z-index: 2;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 60px;
		width: 60px;
		min-height: 60px;
		height: 60px;
		pointer-events: none;
		user-select: none;
	}
	.video-poster {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-width: 100%;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
	}
	.video-caption {
		z-index: 2;
		position: relative;
		color: var(--white-color);
		font-weight: 600;
		font-size: 14px;
		pointer-events: none;
		user-select: none;
	}

	&:hover {
		.video-cover {
			background-color: transparent;
		}
		.video-controls {
			transform: scale(1.08);
		}
	}
}

.modal {
	position: relative;
	display: none;
	padding: 0;
	border-radius: 16px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);
	background: var(--white-color);
	cursor: default!important;

	& :focus:not(.carousel__button.is-close) {
		outline: none;
	}
	& > .carousel__button.is-close {
		top: 16px;
		right: 16px;
		min-width: 24px;
		width: 24px;
		min-height: 24px;
		height: 24px;
		padding: 4px;
		color: var(--error-color);
		transition: var(--transition);
	}
	& .carousel__button svg {
		filter: unset;
	}
	&__content {
		height: 100%;
	}
	&__header {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__title {
		&-icon {
			display: flex;
			align-items: center;
			gap: 20px;

			.icon {
				min-width: 48px;
				width: 48px;
				min-height: 48px;
				height: 48px;
			}
		}
		&-share {
			display: flex;
			align-items: center;
			gap: 12px;

			.image {
				min-width: 60px;
				width: 60px;
				min-height: 60px;
				height: 60px;
			}
		}
		&-column {
			flex-direction: column;
		}
	}
	&__subtitle {
		color: var(--text-secondary-color);
	}
	&-fields {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}
@media (min-width: 992px) {
	.modal {
		&:not(.modal-big) {
			min-width: 500px;
			width: 500px;
		}
		&__header {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&__content {
			&-item {
				padding: 32px;
			}
		}

		.contact-form {
			padding: 0;
			border: 0;
			border-radius: 0;
			box-shadow: none;
		}
	}
}
@media (max-width: 991.98px) {
	.modal {
		min-width: 375px;
		width: 375px;

		&__header {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__content {
			&-item {
				padding: 20px 16px 32px;
			}
		}
	}
}

.switch-content {
	&:not(.selected) {
		.icon-selected,
		.text-selected {
			display: none;
		}
	}
	&.selected {
		.icon-default,
		.text-default {
			display: none;
		}
		.icon-selected {
			stroke: var(--green-color);
		}
	}
}

[data-readmore] {
	overflow: hidden;
	transition: height 0.2s ease-out;
}

.spoiler {
	position: relative;
	font-size: 14px;
	line-height: 16px;

	&,
	&-content {
		display: block;

		p,
		ul {
			margin-top: 0;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&[aria-expanded="true"] {
		.spoiler-content {
			overflow: auto;

			&::-webkit {
				&-scrollbar,
				&-scrollbar-track,
				&-scrollbar-thumb {
					min-width: 4px;
					width: 4px;
					margin-left: 4px;
				}
				&-scrollbar,
				&-scrollbar-track {
					background-color: transparent;
				}
				&-scrollbar-button {
					display: none;
				}
				&-scrollbar-thumb {
					border-radius: 2px;
					background-color: var(--text-secondary-color);
				}
			}
		}
	}
}