:root {
	// base
	--font-family-gilroy: "Gilroy", sans-serif;
	--content-width: 1280px;
	--container-offset: 16px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--black-color: #000000;
	--white-color: #FFFFFF;
	--green-color: #009900;
	--error-color: #FF4D00;

	--text-secondary-color: #909090;
	--surface-darkgreen-color: #17362E;
	--surface-lightgray-color: #F5F5F5;
	--surface-turquoise-color: #009B7F;

	--shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;

	@media (min-width: 992px) {
		--shadow-2: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
	}
	@media (max-width: 991.98px) {
		--shadow-2: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	}
}