// базовые подключения
@import "fonts";
@import "vars";
@import "./helpers/grid-bootstrap";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

body.index {
	.main {
		padding-top: 0;
	}
}
.main {
	position: relative;
	flex: 1;
	min-width: 375px;
}
@media (min-width: 992px) {
	body {
		.main {
			padding-top: 8px;
		}
	}
}
@media (max-width: 991.98px) {
	body {
		.main {
			padding-top: 12px;
		}
	}
}

.index-slider-wrapper {
	position: relative;
	overflow: hidden;
}
.index-slider {
	cursor: w-resize;

	.swiper-slide {
		height: auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
@media (min-width: 992px) {
	.index-slider-wrapper {
		.swiper-pagination {
			top: 0;
			right: var(--container-offset);
			bottom: 0;
			left: unset;
			flex-direction: column;
			gap: 8px;
			min-width: 8px;
			width: 8px;

			&-bullet {
				margin: 0;

				&:not(.swiper-pagination-bullet-active) {
					border-color: var(--white-color);
					background-color: var(--white-color);
				}
				&-active {
					position: relative;

					&::before {
						content: "";
						z-index: -1;
						position: absolute;
						top: -2px;
						right: -2px;
						bottom: -2px;
						left: -2px;
						opacity: 0.5;
						border-radius: 50%;
						background-color: var(--white-color);
					}
				}
			}
		}
	}
	.index-slider {
		.swiper-slide {
			background-color: var(--surface-lightgray-color);
		}
	}
}
@media (max-width: 991.98px) {
	.index-slider-wrapper {
		.swiper-pagination {
			bottom: 0;

			&-bullet {
				&:not(.swiper-pagination-bullet-active) {
					border-color: rgba(144, 144, 144, 0.4);
					background-color: rgba(144, 144, 144, 0.4);
				}
			}
		}
	}
	.index-slider {
		padding-bottom: 16px;
		overflow: visible;
	}
}

.caption-panel {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: var(--surface-darkgreen-color);
	color: var(--white-color);

	&-descr {
		flex: 1;
		display: -webkit-box;
		min-width: 100%;
		width: 100%;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	&-link {
		display: flex;

		a {
			display: inline-flex;
			align-items: center;
		}
		.icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
			stroke: var(--white-color);
		}
	}
}
@media (min-width: 992px) {
	.caption-panel {
		padding: 16px;
		font-size: 14px;
	}
}
@media (max-width: 991.98px) {
	.caption-panel {
		padding: 12px;
	}
}
@media (max-width: 575.98px) {
	.caption-panel {
		font-size: 13px;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.caption-panel {
		font-size: 14px;
	}
}

.catalog-preview {
	display: flex;

	&__view {
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__image {
		width: 100%;
		height: 100%;
	}
	&__caption {
		position: absolute;
		bottom: 0;
		height: auto;
	}
}
@media (min-width: 992px) {
	.catalog-preview {
		gap: 16px;

		&__descr {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 24px;
			min-width: 32%;
			width: 32%;
		}
		&__view {
			flex: 1;
			min-height: 500px;
			height: 500px;
		}
		&__caption {
			right: 0;
			min-width: 310px;
			width: 310px;
			max-height: 190px;
		}
	}
}
@media (min-width: 1312px) {
	.catalog-preview {
		&__view {
			margin-right: calc(((100vw - var(--content-width)) / 2) * -1);
		}
		&__caption {
			left: calc(var(--content-width) - (var(--content-width) * 0.32) - 16px - 310px);
			right: unset;
		}
	}
}
@media (max-width: 991.98px) {
	.catalog-preview {
		flex-direction: column;

		&__subtitle {
			display: none;
		}
		&__caption {
			right: 16px;
			max-height: 50vw;
		}
	}
}
@media (max-width: 575.98px) {
	.catalog-preview {
		gap: 8px;

		&__view {
			min-height: 65vw;
			height: 65vw;
		}
		&__caption {
			min-width: 200px;
			width: 200px;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.catalog-preview {
		gap: 12px;

		&__view {
			min-height: 56.25vw;
			height: 56.25vw;
		}
		&__caption {
			min-width: 270px;
			width: 270px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.catalog-preview {
		&__view {
			margin-right: calc(var(--container-offset) * -1);
		}
		&__caption {
			right: var(--container-offset);
		}
	}
}

.index-popular {
	flex-direction: column;

	&,
	&__item,
	&__view,
	&__descr {
		display: flex;
	}
	&__item {
		flex: 1;
	}
	&__view {
		.image {
			min-width: 100%;
			width: 100%;
		}
	}
	&__descr {
		flex-direction: column;
	}
	&__btn-g {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
@media (min-width: 992px) {
	.index-popular {
		gap: 48px;

		&__item {
			gap: 16px;

			&:nth-child(even) {
				flex-direction: row-reverse;
			}
		}
		&__view,
		&__descr {
			flex: 1;
		}
		&__descr {
			gap: 48px;

			&-main {
				flex: 1;
			}
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&__btn-g {
			gap: 16px;
		}
	}
}
@media (min-width: 1312px) {
	.index-popular {
		&__view {
			.image {
				min-height: calc(((var(--content-width) - 16px) / 2) * 0.5625);
				height: calc(((var(--content-width) - 16px) / 2) * 0.5625);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.index-popular {
		gap: 24px;

		&__item {
			flex-direction: column;
			gap: 12px;
		}
		&__view {
			.image {
				min-height: calc((100vw - 16px) * 0.5625);
				height: calc((100vw - 16px) * 0.5625);
			}
		}
		&__descr {
			gap: 16px;
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
		&__btn-g {
			gap: 8px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.index-popular {
		&__view {
			.image {
				min-height: calc(((100vw - 16px) / 2) * 0.5625);
				height: calc(((100vw - 16px) / 2) * 0.5625);
			}
		}
	}
}

.production {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__descr {
		&-accent {
			font-weight: 500;
		}
	}
	&__certificates {
		position: relative;
		display: flex;

		&-view {
			display: flex;
			min-width: 100%;
			width: 100%;
		}
		&-caption {
			position: absolute;
		}
	}
}
@media (min-width: 992px) {
	.production {
		&__certificates {
			margin-top: 48px;

			&-caption {
				top: -48px;
				left: 8%;
				min-width: 310px;
				width: 310px;
			}
		}
	}
}
@media (min-width: 1312px) {
	.production {
		&__heading {
			&-item {
				&:not(:first-child) {
					p {
						min-width: calc((1280px - 16px) / 2);
						width: calc((1280px - 16px) / 2);
						margin-left: auto;
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.production {
		min-width: 100vw;
		width: 100vw;
		margin-top: 24px;
		margin-right: -16px;
		margin-left: -16px;

		&__heading {
			padding-right: 16px;
			padding-left: 16px;
		}
		&__certificates {
			margin-top: 24px;

			&-caption {
				top: -24px;
				left: 16px;
				max-height: 50vw;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.production {
		&__certificates {
			&-caption {
				min-width: 200px;
				width: 200px;
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.production {
		&__certificates {
			&-caption {
				min-width: 270px;
				width: 270px;
			}
		}
	}
}

.calc-project {
	&__fields {
		display: flex;
	}
}
@media (min-width: 992px) {
	.calc-project {
		&__fields {
			gap: 16px;
		}
	}
}
@media (max-width: 991.98px) {
	.calc-project {
		&__fields {
			flex-direction: column;
			gap: 12px;
		}
	}
}

.catalog {
	&-sidebar {
		position: relative;
		z-index: 11;
		display: flex;
		flex-direction: column;
		gap: 16px 0;
		background-color: var(--white-color);

		&-filter {
			&__selection {
				display: flex;
				flex-direction: column;
			}
			&__options {
				display: flex;
				flex-direction: column;

				&-item {
					position: relative;
					display: flex;
					flex-direction: column;
					overflow: hidden;

					&:not(.catalog-sidebar-filter__options-item--noborder) {
						.catalog-sidebar-filter__options-header {
							border-bottom: 1px solid var(--text-secondary-color);
						}
					}
				}
				&-header {
					align-items: center;
					gap: 8px;
					background-color: var(--white-color);
					font-size: 16px;
					cursor: pointer;

					&:not(.collapse-view-in) {
						.icon {
							&-open {
								display: none;
							}
						}
					}
					&.collapse-view-in {
						.icon {
							&-default {
								display: none;
							}
						}
					}
				}
				&-content {
					max-height: 0;
					overflow: hidden;
					opacity: 0;
					font-size: 14px;

					&.collapse-content-in {
						animation-duration: 0.5s;
						animation-fill-mode: forwards;
						animation-name: collapse-content-in;
						overflow: visible;
						opacity: 1;
						transition: opacity 0.2s ease-out;
					}
					&-item {
						&:not(:last-child) {
							margin-bottom: 8px;
							padding-top: 8px;
						}
					}
				}
				&-title {
					flex: 1;
					font-weight: 500;
					line-height: 24px;
				}
				&-search {
					.input-search-wrapper {
						.input-search {
							&:focus {
								box-shadow: none;
								border-color: var(--black-color);
							}
						}
					}
				}
			}
			&__list {
				display: flex;
				flex-direction: column;

				&--row {
					flex-direction: row;
					flex-wrap: wrap;
				}
			}
			&__item {
				display: flex;
				align-items: center;
				min-height: 36px;
				height: 36px;

				.custom-checkbox,
				.custom-radio {
					width: 100%;

					&__label-for {
						flex: 1;
					}

					&:hover {
						.custom-checkbox__label-for {
							font-weight: 500;
						}
					}
				}
				.custom-checkbox {
					width: 100%;

					&__input {
						min-width: 24px;
						width: 24px;
						min-height: 24px;
						height: 24px;
						border-color: transparent;

						&::before {
							min-width: 12px;
							width: 12px;
							min-height: 12px;
							height: 12px;
						}
					}
					&:hover {
						.custom-checkbox__input {
							border-color: var(--text-secondary-color);
						}
					}
				}
				.custom-radio {
					width: 100%;

					&__input {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
						margin-right: 4px;
						margin-left: 4px;

						&::before {
							min-width: 8px;
							width: 8px;
							min-height: 8px;
							height: 8px;
						}
					}
					&__label-for {
						flex: 1;
					}

					&:hover {
						.custom-checkbox__label-for {
							font-weight: 500;
						}
					}
				}
			}
			&__title {
				font-weight: 500;
				font-size: 16px;
			}
			&__actions {
				display: flex;
				flex-direction: column;
				gap: 12px;
				padding-top: 20px;
			}
		}
		&-prices {
			display: flex;

			&__item {
				flex: 1 0 50%;
				min-width: 50%;

				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					min-width: 32px;
					width: 32px;
					color: var(--black-color);
					font-size: 14px;
					line-height: 24px;
					text-align: right;
				}
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					min-width: 32px;
					width: 32px;
					color: var(--black-color);
					font-size: 14px;
					line-height: 24px;
					text-align: right;
				}

				&:not(:first-child) {
					.catalog-sidebar-prices__input {
						border-left-color: var(--text-secondary-color);
					}
				}
				&:nth-child(1) {
					&::before {
						content: "от";
					}
				}
				&:nth-child(2) {
					&::before {
						content: "до";
					}
				}
			}
			&__input {
				width: 100%;
				min-height: 40px;
				height: 40px;
				padding: 7px 12px 7px 40px;
				border-color: transparent;
				border-radius: 0;
				background-color: var(--surface-lightgray-color);
				color: var(--black-color);

				&::placeholder {
					color: var(--text-secondary-color);
				}
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 12px 0;

		&__top {
			display: flex;
			width: 100%;
		}
		&__section,
		&__tag-list {
			min-width: 100%;
			width: 100%;
		}
		&-tag {
			display: flex;
			flex-wrap: wrap;

			&-list {
				overflow: hidden;

				& .spoiler {
					max-height: 48px;

					&[data-readmore] {
						margin-bottom: 8px;
					}
				}
			}
		}
		&-settings {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 24px;
			min-width: 100%;
			width: 100%;
			color: var(--text-secondary-color);
			font-size: 14px;
			line-height: 24px;

			&__view {
				display: flex;
				align-items: center;
				gap: 8px;

				&-item {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					transition: var(--transition);

					&.active {
						color: var(--black-color);
					}
				}
			}
			&__sort {
				position: relative;
				display: flex;
				align-items: center;
				gap: 8px;

				&-select {
					display: flex;
					align-items: center;
					gap: 8px;
					background-color: transparent;
					color: var(--black-color);
					transition: var(--transition);
					cursor: pointer;

					span,
					.icon {
						pointer-events: none;
					}
					.icon {
						stroke: var(--text-secondary-color);
					}
				}
				&-options {
					z-index: 100;
					position: absolute;
					top: 100%;
					right: 0;
					max-width: 100%;
					box-shadow: var(--shadow-2);
					background-color: var(--white-color);

					&:not(.active) {
						display: none;
					}

					.catalog-content-settings__sort-label {
						min-height: 36px;
						height: 36px;
						padding: 0 16px;
					}
				}
				&-label {
					display: flex;
					align-items: center;
					overflow: hidden;
					background-color: transparent;
					color: var(--black-color);
					line-height: 24px;
					white-space: nowrap;
					cursor: pointer;
					transition: var(--transition);

					&:hover {
						background-color: var(--surface-lightgray-color);
					}
				}
			}
		}
		&__layout {
			z-index: 10;
			position: relative;
			display: flex;
			flex-direction: column;

			.pagination-wrapper {
				min-width: 100%;
				width: 100%;
			}
		}
		&__grid {
			display: flex;
			flex-wrap: wrap;
		}
		.pagination-wrapper {
			justify-content: center;
		}
	}
}
@keyframes collapse-content-in {
	99% {
		max-height: 100vh;
	}
	100% {
		max-height: 999999px;
	}
}
@media (min-width: 992px) {
	.catalog {
		display: grid;
		grid-template-columns: 310px 1fr;
		grid-template-rows: auto;
		gap: 0 16px;

		&-sidebar {
			padding-right: 16px;
			border-right: 1px solid var(--text-secondary-color);

			&-filter {
				&:not(:first-child) {
					padding-top: 32px;
					border-top: 1px solid var(--text-secondary-color);
				}

				&__header {
					display: none;
				}
				&__options {
					&-header {
						display: inline-flex;
						min-height: 48px;
						height: 48px;
						padding-right: 8px;
					}
					&-content {
						padding-right: 8px;
						padding-left: 16px;

						&-scrolled {
							.spoiler {
								max-height: 108px;

								&-content {
									max-height: 324px;

									.catalog-sidebar-filter__list {
										margin-right: 4px;
									}
								}
							}
						}
						&--px-0 {
							padding-right: 0;
							padding-left: 0;
						}
					}
					&-search {
						.input-search-wrapper {
							&::before {
								content: none;
							}
							.input-search {
								padding: 7px 40px 7px 12px;
								border-color: var(--surface-lightgray-color);
								background-color: var(--surface-lightgray-color);
							}
							.input-search-btn {
								right: 0;
								min-width: 40px;
								width: 40px;
								min-height: 40px;
								height: 40px;
							}

							&.has-data {
								.input-search-btn {
									z-index: -100;
									opacity: 0;
								}
							}
						}
					}
				}
			}
		}

		&-content {
			&__top {
				flex-wrap: wrap;
				align-items: center;
				gap: 24px;
			}
			&-tag {
				gap: 16px;
				min-width: 100%;
				width: 100%;
			}
			&-filter {
				&-spoiler {
					display: none;
				}
				&-selected {
					display: flex;
					align-items: flex-end;
					gap: 4px;
					min-width: 100%;
					width: 100%;

					&:not(:last-child) {
						margin-bottom: 32px;
					}
					&.empty {
						display: none;
					}
					&__list {
						display: flex;
						flex-wrap: wrap;
						align-items: flex-start;
						gap: 4px;
					}
					&__item {
						font-weight: 400;
						font-size: 13px;
						letter-spacing: 0;
						text-transform: unset;

						&-delete {
							display: flex;
							justify-content: center;
							align-items: center;
							min-width: 20px;
							width: 20px;
							min-height: 20px;
							height: 20px;
							border-radius: 3px;
							background-color: var(--white-color);

							.icon {
								min-width: 14px;
								width: 14px;
								min-height: 14px;
								height: 14px;
								fill: var(--text-primary);
							}
						}
					}
				}
			}
			&__layout {
				gap: 48px;
			}
			&__grid {
				gap: 24px 16px;
			}
		}
	}
}
@media (min-width: 1312px) {
	.catalog {
		&-content {
			min-width: calc(1280px - 310px - 16px);
			width: calc(1280px - 310px - 16px);

			&__grid {
				.card-product {
					min-width: calc((1280px - 310px - 16px - 32px) / 3);
					width: calc((1280px - 310px - 16px - 32px) / 3);

					.card__descr {
						top: calc((1280px - 310px - 16px - 32px) / 3);
					}
					.card__view {
						.image,
						.icon {
							min-height: calc((1280px - 310px - 16px - 32px) / 3);
							height: calc((1280px - 310px - 16px - 32px) / 3);
						}
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.catalog {
		&-sidebar {
			&-filter {
				z-index: 1010;
				position: fixed;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding: 12px 16px 20px;
				overflow: auto;
				background-color: var(--white-color);
				transition: var(--transition);

				&::-webkit {
					&-scrollbar,
					&-scrollbar-track,
					&-scrollbar-thumb {
						min-width: 4px;
						width: 4px;
					}
					&-scrollbar,
					&-scrollbar-track {
						background-color: transparent;
					}
					&-scrollbar-button {
						display: none;
					}
					&-scrollbar-thumb {
						border-radius: 2px;
						background-color: var(--text-secondary-color);
					}
				}
				&:not(.active) {
					top: 100vh;
				}
				&.active {
					top: 0;
				}
				&__header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 16px;
				}
				&__close {
					display: flex;
				}
				&__options {
					&-header {
						display: flex;
						min-height: 40px;
						height: 40px;
					}
					&-content {
						&-scrolled {
							.spoiler {
								max-height: 144px;
							}
						}
					}
				}
				&__actions {
					.btn {
						flex: 1;
					}
				}
			}
		}
		&-content {
			&__top {
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 16px;
			}
			&-tag {
				gap: 12px;
			}
			&-settings {
				&__view {
					display: none;
				}
			}
			&-filter {
				&-spoiler {
					display: inline-flex;
					align-items: center;
					gap: 8px;
					min-height: 32px;
					height: 32px;
					border-radius: 8px;
					border-color: var(--surface-lightgray-color);
					background-color: var(--surface-lightgray-color);
					color: var(--black-color);

					&.has-filter {
						.catalog-content-filter-spoiler__view {
							&::before {
								content: "";
								z-index: 1;
								position: absolute;
								top: 1px;
								right: -1px;
								min-width: 8px;
								width: 8px;
								min-height: 8px;
								height: 8px;
								border: 2px solid var(--white-color);
								border-radius: 50%;
								background-color: var(--red-color);
							}
						}
					}
					&__view {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					span {
						font-weight: 500;
					}

					&:hover {
						border-color: var(--text-secondary-color);
						background-color: var(--text-secondary-color);
						color: var(--white-color);
					}
				}
				&-selected {
					display: none;
				}
			}
			&__layout {
				gap: 32px;
			}
			&__grid {
				gap: 16px 12px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.catalog {
		&-content {
			&__grid {
				.card-product {
					min-width: calc((100vw - 32px - 310px - 16px - 16px) / 2);
					width: calc((100vw - 32px - 310px - 16px - 16px) / 2);

					.card__descr {
						top: calc((100vw - 32px - 310px - 16px - 16px) / 2);
					}
					.card__view {
						.image,
						.icon {
							min-height: calc((100vw - 32px - 310px - 16px - 16px) / 2);
							height: calc((100vw - 32px - 310px - 16px - 16px) / 2);
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.catalog {
		&-content {
			min-width: calc(100vw - 32px - 310px - 16px);
			width: calc(100vw - 32px - 310px - 16px);
		}
	}
}
@media (min-width: 1200px) and (max-width: 1311.98px) {
	.catalog {
		&-content {
			&__grid {
				.card-product {
					min-width: calc((100vw - 32px - 310px - 16px - 32px) / 3);
					width: calc((100vw - 32px - 310px - 16px - 32px) / 3);

					.card__descr {
						top: calc((100vw - 32px - 310px - 16px - 32px) / 3);
					}
					.card__view {
						.image,
						.icon {
							min-height: calc((100vw - 32px - 310px - 16px - 32px) / 3);
							height: calc((100vw - 32px - 310px - 16px - 32px) / 3);
						}
					}
				}
			}
		}
	}
}

.contacts {
	&__descr {
		display: flex;

		&-item {
			display: flex;
			flex: 1;
			gap: 8px;
		}
		&-content {
			display: flex;
			flex-direction: column;
			font-weight: 500;

			p:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}
	&__map {
		position: relative;
		overflow: hidden;

		&-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
@media (min-width: 992px) {
	.contacts {
		&__descr {
			flex-wrap: wrap;
			gap: 16px;
		}
		&__map {
			height: 400px;
		}
	}
}
@media (min-width: 1312px) {
	.contacts {
		&__map {
			min-height: 440px;
			height: 440px;
		}
	}
}
@media (max-width: 991.98px) {
	.contacts {
		&__descr {
			flex-direction: column;
			gap: 12px;
		}
		&__map {
			min-height: 320px;
			height: 320px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.contacts {
		&__map {
			min-height: calc((100vw - 32px) * 0.35);
			height: calc((100vw - 32px) * 0.35);
		}
	}
}

.product-card {
	&-descr {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		&__item {
			display: flex;

			.btn {
				min-width: 100%;
				width: 100%;
			}
		}
	}

	&-color {
		display: flex;
		flex-direction: column;

		&__view {
			aspect-ratio: 1/1;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&__title {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 28px;
			height: 28px;
			overflow: hidden;
			font-size: 14px;
			text-align: center;
			white-space: nowrap;
			transition: var(--transition);
		}

		&:hover {
			.product-card-color__title {
				background-color: var(--surface-darkgreen-color);
				color: var(--white-color);
			}
		}
	}
}
@media (min-width: 1312px) {
	.product-card {
		&-descr {
			&--cols-min,
			&-cart {
				.product-card-descr__item {
					min-width: calc((100% - 32px) / 3);
					width: calc((100% - 32px) / 3);
				}
			}
		}
		&-color {
			&__view {
				min-width: 90px;
				width: 90px;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.product-card {
		&-descr {
			&-cart {
				.product-card-descr__item {
					min-width: 162px;
					width: 162px;
				}
			}
		}
		&-color {
			&__view {
				min-width: 70px;
				width: 70px;
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.product-card {
		&-descr {
			&-cart {
				.product-card-descr__item {
					min-width: 170px;
					width: 170px;
				}
			}
		}
		&-color {
			&__view {
				min-width: 75px;
				width: 75px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.product-card {
		&-descr {
			&--cols-min,
			&-cart {
				.product-card-descr__item {
					min-width: calc((100% - 16px) / 2);
					width: calc((100% - 16px) / 2);
				}
			}
		}
		&-color {
			&__view {
				min-width: 80px;
				width: 80px;
			}
		}
	}
}

.cart-content {
	&__item {
		border-bottom: 1px solid var(--text-secondary-color);
	}
	&__total {
		display: flex;
		justify-content: flex-end;
		min-width: 288px;
		width: 288px;
		margin-left: auto;

		.value {
			font-weight: 600;
		}
	}
	.cart-card__view {
		.image {
			object-fit: contain;
		}
	}
}
@media (min-width: 992px) {
	.cart-content {
		&__item {
			align-items: center;
		}
		&__total {
			gap: 16px;
			padding-top: 24px;
			font-size: 24px;

			.value {
				flex: 1;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.cart-content {
		&__total {
			gap: 12px;
			padding-top: 16px;
			font-size: 18px;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.cart-content {
		&__total {
			padding-right: 32px;
		}
	}
}

.cart-order {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
@media (min-width: 992px) {
	.cart-order {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: 16px;

		&__item {
			&--x2-first {
				grid-column: 1/3;
			}
			&--x2-last {
				grid-column: 2/4;
			}
			&--x3 {
				grid-column: 1/4;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.cart-order {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&__item {
			flex: 1;
		}
	}
}

.cart-card {
	position: relative;
	display: flex;

	&__view,
	&__descr,
	&__price,
	&__quantity,
	&__total {
		display: flex;
	}
	&__descr {
		flex: 1;
		flex-direction: column;

		&-title {
			font-weight: 500;
		}
		&-caption {
			display: flex;
			gap: 8px;
			color: var(--text-secondary-color);
			font-size: 14px;
		}
	}
	&__delete {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		border: none;
		border-radius: 12px;
		background-color: var(--surface-lightgray-color);
		color: var(--black-color);
		transition: var(--transition);

		&:hover {
			background-color: var(--text-secondary-color);
			color: var(--white-color);

			.icon {
				stroke: var(--white-color);
			}
		}
	}
}
@media (min-width: 576px) {
	.cart-card {
		&__view {
			.image {
				min-width: 90px;
				width: 90px;
				min-height: 90px;
				height: 90px;
			}
		}
	}
}
@media (min-width: 992px) {
	.cart-card {
		gap: 16px;
		padding-top: 16px;
		padding-bottom: 16px;

		&__descr {
			gap: 16px;

			&-title {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				min-height: 48px;
				overflow: hidden;
			}
		}
	}
}
@media (min-width: 1312px) {
	.cart-card {
		&__price,
		&__quantity,
		&__total {
			min-width: 200px;
			width: 200px;
		}
	}
}
@media (max-width: 991.98px) {
	.cart-card {
		flex-wrap: wrap;
		align-items: flex-start;
		padding-top: 12px;
		padding-bottom: 12px;

		&__view {
			position: absolute;
			top: 12px;
			bottom: 12px;
			left: 0;
		}
		&__descr {
			gap: 4px;
			min-width: 100%;
			width: 100%;
		}
		&__price,
		&__quantity,
		&__total {
			align-items: center;
		}
		&__price,
		&__total {
			min-height: 40px;
			height: 40px;
		}
		&__quantity {
			min-width: 145px;
			width: 145px;
		}
		&__delete {
			z-index: 1;
			position: absolute;
			top: 12px;
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
			border-radius: 50%;
		}
	}
}
@media (max-width: 575.98px) {
	.cart-card {
		gap: 8px 12px;
		min-height: 132px;
		padding-left: 72px;

		&__view {
			.image {
				min-width: 60px;
				width: 60px;
				min-height: 60px;
				height: 60px;
			}
		}
		&__descr {
			min-height: 56px;
			padding-right: 32px;
		}
		&__price {
			flex: 1;
		}
		&__delete {
			right: 0;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.cart-card {
		gap: 8px 16px;
		min-height: 165px;
		padding-left: 106px;

		&__descr {
			min-height: 93px;
			padding-right: 48px;
		}
		&__price,
		&__total {
			min-width: 130px;
			width: 130px;
		}
		&__delete {
			right: 12px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1311.98px) {
	.cart-card {
		&__price,
		&__quantity,
		&__total {
			min-width: 150px;
			width: 150px;
		}
	}
}

.accordion {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__item {
		position: relative;
		transition: var(--transition);
	}
	&__header {
		&-title {
			font-weight: 500;
			line-height: 24px;
		}
	}
	&__btn {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 20px;
		width: 100%;
		cursor: pointer;
		transition: var(--transition);

		.icon {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}

		&.open {
			.icon-default {
				opacity: 0;
			}
		}
		&:not(.open) {
			.icon-open {
				opacity: 0;
			}
		}
	}
	&__collapse {
		padding-top: 16px;
		overflow: hidden;
		background-color: var(--text10-color);

		&.collapsed {
			display: none;
		}
		&-content {
			overflow: auto hidden;
		}
		&-item {
			position: relative;
		}
	}
}

.authreg {
	width: 100%;
}
@media (min-width: 768px) {
	.authreg {
		max-width: 410px;
	}
}
@media (max-width: 767.98px) {
	.authreg {
		max-width: 343px;
	}
}

.personal-account {
	width: 100%;
}
.pa {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&-section {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&-row {
		display: flex;
		gap: 16px;
	}
}
@media (min-width: 992px) {
	.personal-account {
		max-width: 960px;
	}
	.pa {
		&-topmenu {
			.swiper-slide {
				margin-right: 16px;
			}
		}
		&-row {
			flex-wrap: wrap;
		}
		&-item {
			min-width: calc((960px - 32px) / 3);
			width: calc((960px - 32px) / 3);
		}
	}
}
@media (max-width: 991.98px) {
	.personal-account {
		max-width: 343px;
	}
	.pa {
		&-topmenu {
			.swiper-slide {
				margin-right: 12px;
			}
		}
		&-row {
			flex-direction: column;
		}
	}
}

.order-history {
	display: flex;
	flex-direction: column;

	&-item {
		display: flex;
		gap: 0;
	}
	&-section {
		display: flex;
		font-size: 14px;
	}
	&-title {
		font-weight: 500;
	}
	&-content {
		display: flex;
		flex-direction: column;

		&-cancel {
			flex-direction: row;
			align-items: center;
			gap: 16px;
		}
	}
}
@media (min-width: 992px) {
	.order-history {
		gap: 24px;

		&-item {
			align-items: stretch;
		}
		&-section {
			flex: 1;
			flex-direction: column;

			&:not(:last-child) {
				padding-right: 16px;
			}
			&:last-child {
				.order-history-title {
					&::before {
						right: 0;
					}
				}
			}
		}
		&-title {
			position: relative;
			padding-top: 6px;
			padding-bottom: 6px;

			&::before {
				content: '';
				position: absolute;
				right: -16px;
				bottom: 0;
				left: 0;
				min-height: 1px;
				height: 1px;
				background-color: var(--text-secondary-color);
			}
		}
		&-content {
			flex: 1;
			justify-content: center;
			padding-top: 16px;
		}
	}
}
@media (max-width: 991.98px) {
	.order-history {
		gap: 16px;

		&-item {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			padding-bottom: 8px;
			border-bottom: 1px solid var(--text-secondary-color);
		}
		&-section {
			gap: 16px;
			min-width: 100%;
			width: 100%;
		}
		&-content {
			width: 100%;
		}
	}
}
@media (max-width: 575.98px) {
	.order-history {
		&-title {
			min-width: 135px;
			width: 135px;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.order-history {
		&-title {
			min-width: 220px;
			width: 220px;
		}
	}
}

.placemark {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-icon {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #e61400;
		border-radius: 50%;

		&-arrow {
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #e61400;

			&::before,
			&::after {
				content: "";
				z-index: 1;
				position: absolute;
				top: 0;
				background-color: #fff;
			}
		}
	}
	&-point {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 50%;
		min-width: 6px;
		width: 6px;
		min-height: 6px;
		height: 6px;

		&::before {
			content: "";
			z-index: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 3px;
			width: 3px;
			min-height: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: #e61400;
		}
	}
}
@media (min-width: 992px) {
	.placemark {
		gap: 10px;
		min-width: 40px;
		width: 40px;

		&-icon {
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;

			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
			&-arrow {
				bottom: -10px;
				min-width: 8px;
				width: 8px;
				min-height: 10px;
				height: 10px;

				&::before,
				&::after {
					min-width: 8px;
					width: 8px;
					min-height: 10px;
					height: 10px;
				}
				&::before {
					left: -4px;
					border-top-right-radius: 4px 100%;
				}
				&::after {
					right: -4px;
					border-top-left-radius: 4px 100%;
				}
			}
		}
	}

}
@media (max-width: 991.98px) {
	.placemark {
		gap: 8px;
		min-width: 24px;
		width: 24px;

		&-icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;

			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
			}
			&-arrow {
				bottom: -8px;
				min-width: 6px;
				width: 6px;
				min-height: 8px;
				height: 8px;

				&::before,
				&::after {
					min-width: 6px;
					width: 6px;
					min-height: 8px;
					height: 8px;
				}
				&::before {
					left: -3px;
					border-top-right-radius: 3px 100%;
				}
				&::after {
					right: -3px;
					border-top-left-radius: 3px 100%;
				}
			}
		}
	}
}